html{
	background-image: url('../img/bgcontactos.jpeg');
	background-size: 90%;
}
#contactos-contenedor {
    background-color: rgba(86, 117, 129, 0.8);
    /*border-radius: 10px;*/
    box-shadow: 1px 0 2px #333, -1px 0 2px #333, 0 1px 2px #333;
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.informacionContacto{
	width: 100%;		 	
}

.card img{	
	border-radius: 10px;
	margin: 5px;
}

.card p{
	width: 100px;
}

.card p,input,label{	
	display: inline-block;		
	margin: auto 20px;
	position: relative;
	bottom: 25px;
}

.card label{
	position: relative;
	right: 0;	

}
.informacionContacto, .informacionContacto table{
	width: 100%;
	padding: 5px 15px;	
}

.informacionContacto, .check {
    display: none;
} 

.card label:hover{
	background-color: rgba(0,0,0,0.2);
}

#menu-w:checked + label ~ #w {
    display: block;    
}

#menu-c:checked + label ~ #c {
    display: block;    
}

#menu-m:checked + label ~ #m {
    display: block;    
}

#menu-j:checked + label ~ #j {
    display: block;    
}