#principal-contenedor {
    display: flex;
    width: 100%;
}

main {
    background-color: #234399;
    width: 100%;
}

main section {
    display: flex;
}

#datos {
    background-color: #e4eaec;
    width: 50%;
    padding: 1em;
    border-right: 1px solid #a2a5a7;
}

.values {
    display: flex;
    padding: 0 2em;
}

.values label {
    width: 40%;
}

.values input {
    width: 60%;
    margin-bottom: 10px;
}

#resultado {
    text-align: center;
    background-color: #e4eaec;
    width: 50%;
}

#nameFormulario {
    text-align: center;
    text-transform: uppercase;
    margin: 1em 0;
}