header {
    width: 100%;
    z-index: 100;
    position: relative;
}

footer {
    width: 100%;
    z-index: 100;
}

#fixed {
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 20px;
    left: 10px;
}

#informacion {
    float: right;
    width: 65%;
    padding: 10px;
    text-align: justify;
}

#informacion h3,
img,
p {
    margin: 10px 0;
}

#gp {
    border-left: 3px solid #4a52ff;
    padding-left: 5px;
}

#jh {
    border-left: 3px solid #ff6d9d;
    padding-left: 5px;
}